.questions-container {
    max-width:800px;
    margin: 20px auto 20px auto;
}

.questions input {
    padding:10px;
    border-radius:10px;
    color: #b3002d;
    border:0.5px solid #b3002d;
    border-style:double;
    width:100%;
    font-weight: bold;
}

.questions input:focus {
    outline:none;
}


.questions ul {
    list-style-type: none;
    margin-bottom: 20px;
}

.questions li {
    cursor: pointer;
    margin-bottom: 10px;
    border:0.5px solid #b3002d;
    padding:10px;
    border-radius: 10px;; 
}

.questions li.active{
    font-weight: bold;
    background-color: #b3002d;
}

.questions li.active span {
    color: white;
}
