.navbar {
    background: linear-gradient(180deg, #800000, #880929)
}

.navbar h1{
    color: #FBC740;
}

/* 
.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    vertical-align: middle;
} */
